html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f5f7fa;
}

.disease-card,
.yield-card,
.result-card,
.yield-card,
.result-section {
  width: 100%;
  max-width: 900px;
  padding: 40px;
  border-radius: 20px;
  background: rgba(255,255,255,0.95);
  backdrop-filter: blur(12px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
  transition: 0.3s ease;
}

.card {
  width: 100%;
  max-width: 900px;
  padding: 40px;
  border-radius: 20px;
  background: rgba(255,255,255,0.95);
  backdrop-filter: blur(12px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
  transition: 0.3s ease;
}

.disease-card:hover,
.yield-card:hover {
  transform: translateY(-6px);
}

.disease-container {
  width: 100%;
  min-height: 100vh;
  padding: 80px 20px;
  background:
    linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url("https://images.unsplash.com/photo-1560493676-04071c5f467b");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.yield-container {
  width: 100%;
  min-height: 100vh;
  padding: 80px 20px;
  background:
    linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url("https://cdn.wikifarmer.com/images/detailed/2022/08/Barley-Harvest-Yield.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.page-container {
  width: 100%;
  min-height: 100vh;
  padding: 80px 20px;

  background:
    linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
    url("https://images.unsplash.com/photo-1464226184884-fa280b87c399");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

input {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 15px;
  margin-top: 15px;
  transition: 0.3s;
}

input:focus {
  border-color: #2e7d32;
  outline: none;
  box-shadow: 0 0 8px rgba(46,125,50,0.4);
}

.primary-btn {
  margin-top: 25px;
  padding: 14px;
  width: 100%;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg,#2e7d32,#43a047);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.primary-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(46,125,50,0.5);
}

.success {
  color: #2e7d32;
  font-weight: 600;
}

.danger {
  color: #d32f2f;
  font-weight: 600;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.disease-card,
.yield-card,
.result-card {
  animation: fadeIn 1s ease;
}

@media(max-width:768px){
  .disease-card,
  .yield-card,
  .result-card {
    padding: 25px;
  }
}